body {
background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

body, html {
/*  height: 100%;*/
}

body {
  font-family: "Lato", sans-serif;
  color: #111;
/*  display: -webkit-box;*/
/*  display: flex;*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  align-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  background-color: #ECECEC;
}

.container {
  width: auto;
  display: -webkit-box;
/*  display: flex;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
    margin-top: 2%;
}

.btn {
/*  margin: 20px auto;*/
    margin-left: 5%;
  border: none;
  padding: 10px 44px;
    padding-right: 55px;
  font-size: 16px;
  position: relative;
}
.btn::before {
  -webkit-transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: '';
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}
.btn .btn-text {
  color: white;
  mix-blend-mode: difference;
}
.btn:hover::before {
  background: black;
  width: 100%;
}
.btn.rounded {
  border-radius: 50px;
}
.btn.rounded .text-green {
  color: #00F0B5;
  mix-blend-mode: difference;
}
.btn.rounded::before {
  border-radius: 50px;
  width: 25%;
  background: #00F0B5;
}
.btn.rounded:hover::before {
  background: #00F0B5;
  width: 100%;
}

.gsp {
    margin-left: 5%;
    margin-top: 8%;
}

.heading {
    color: white;
    margin-left: 7%;
    font-size: 50px;
}

.heading1 {
    color: orangered;
    margin-top: -91px;
    margin-left: 17%;
    font-size: 50px;
}

.pre1 {
    color: white;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 5%;
}

.pre2 {
    color: white;
    font-size: 18px;
    margin-left: 8%;
    margin-top: 3%;
    
}

.close {
    border-radius: 10px;
    font-size: 22px;
    margin-left: 15%;
    background-color: darkgray;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2%;
}